body {
    font-family: Roboto, sans-serif;
}

#controller {
    width: 1070px;
    margin: 0 auto;
}

#pokemons {
    max-width: 1400px;
    margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.pokemon{
    display: inline-block;
    height: 178px;
    width: 122px;
    padding: 6px 14px;
    margin: 8px;
    cursor: pointer;
    background: radial-gradient(ellipse at center,rgba(117,244,100,.4) 0,rgba(255,255,255,.18) 54%,rgba(255,255,255,0) 100%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    border-radius: 2px;
    position: relative;
}

.pokemon:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.pokemon > * {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7px;
}

.pokemon-cp {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.pokemon-image {
    height: 90px;
    width: 122px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-level {
	color: silver;
	position: absolute;
	top: 3px;
	right: 5px;
}

.pokemon-candy-count {
    color: silver;
    position: absolute;;
    top: 3px;
    left: 5px;
}

button, .button {
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
    height: 30px;
    border: none;
    outline: none;
    vertical-align: middle;
}

button.icon > img {
    max-width: 25px;
    max-height: 25px;
    vertical-align: top;
}

button.icon {
    padding: 0 3px;
}

#login > img {
    max-width: 23px;
    max-height: 23px;
}

button.icon-text, .button.icon-text {
    background-position: right 5px top 2px;
    padding: 2px 8px;
    padding-right: 30px;
    border: 1px solid silver;
    border-radius: 2px;
    background-size: 20px;
}

button.descending {
    background-image: url(../images/descending.png);
}

button.ascending {
    background-image: url(../images/ascending.png);
}

#get-code-link {
    background-image: url(../images/google.png);
    text-decoration: none;
}

button#showUselessPokemons {
    position: relative;
    top: -1px;
    left: -3px;
}

#googleAuthCode {
    border-radius: 2px;
    border: 1px solid silver;
    line-height: 24px;
}

.other-info {
    display: inline-block;
    border: 1px dashed silver;
    line-height: 23px;
    padding: 2px 5px;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 10px;
    visibility: hidden;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.loading-bg {
    background-color: white;
    opacity: 0.8;
}

#loading-text {
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: 1%;
}

.jumping {
    font-size:70px;
    font-weight:bold;
    color:#4794D3;
    margin:90px auto;
    -webkit-animation: jump 1.5s ease 0s infinite normal;
    animation: jump 1.5s ease 0s infinite normal;
    width: 60px;
    margin: 0 auto;
    display: block;
    margin-top: 20%;
}

@-webkit-keyframes jump {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%{
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    50%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60%{
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    80%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes jump {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-50px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}