body {
    font-family: Roboto, sans-serif;
}
.pokemon{
    display: block;
    height: 178px;
    width: 122px;
    padding: 6px 14px;
    margin: 8px;
    cursor: pointer;
    background: radial-gradient(ellipse at center,rgba(117,244,100,.4) 0,rgba(255,255,255,.18) 54%,rgba(255,255,255,0) 100%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    border-radius: 2px;
    float: left;
}

.pokemon:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.pokemon > * {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7px;
}

.pokemon-cp {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.pokemon-image {
    max-height: 90px;
    max-width: 122px;
}